@media screen and (max-width: 1024px) /* 메인 오브젝트들 사이즈 - */ {
  /* header screen size interaction */
  #page-span__1,
  #page-span__2 {
    font-size: 10px;
  }

  .page_number:first-child {
    font-size: 18px;
    margin-top: 20px;
  }

  .page_number:nth-child(2) {
    font-size: 18px;
    margin-top: 20px;
    margin: 10px 0 0 27px;
  }

  .page_numbers::before {
    width: 1px;
    height: 70px;
    margin-top: -55px;
    margin-left: -18px;
    background-color: black;
    transform: rotate(45deg);
    opacity: 0.2;
  }

  .header__nav-menu button::before {
    font-size: 11px;
    margin-right: 0px;
  }

  .main-header__right ul li {
    padding-top: 10px;
    margin: 40px 0;
    transition: 0.5s ease-in-out;
  }

  .main-header__right ul li a {
    width: 4px;
    height: 4px;
    transition: 0.5s ease-in-out;
  }

  /* main screen size interaction */
  .main-main__text {
    margin-left: 180px;
    transition: 0.5s ease-in-out;
  }

  .main-main__centerText {
    font-size: 11px;
  }

  .main-main__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text {
    margin-right: 180px;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(3),
  .main-main2__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text {
    margin-left: 180px;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(3),
  .main-main3__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text {
    margin-right: 130px;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(3),
  .main-main4__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text {
    margin-left: 180px;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(3),
  .main-main5__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .movingChess {
    top: 23vh;
    right: 80px;
    width: 400px;
    transition: 0.5s ease-in-out;
  }
  .main-main .movingChess img {
    width: 400px;
    transition: 0.5s ease-in-out;
  }

  .movingCrown {
    top: 120vh;
    left: 100px;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
  }

  .main-main2 .movingCrown img {
    width: 430px;
  }

  .wineHands {
    top: 217vh;
    right: 100px;
    margin-top: 50px;
  }

  .main-main3 .wineHands img {
    height: 520px;
  }

  .faceGlasses {
    top: 317vh;
    left: 90px;
    margin-top: 50px;
  }

  .main-main4 .faceGlasses img {
    height: 500px;
  }

  .elephantDoor {
    top: 423vh;
    right: 0px;
    margin-top: 50px;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .main-main5 .elephantDoor img {
    height: 360px;
  }

  .marquee {
    font-size: 12px;
    transition: 1s ease-in-out;
  }

  .marquee:first-child span:first-child {
    display: none;
  }

  .marquee2 span:last-child {
    display: none;
  }
  @keyframes movingChess {
    0% {
      top: 23vh;
      opacity: 1;
    }
    50% {
      top: 20vh;
      opacity: 1;
    }
    100% {
      top: 23vh;
      opacity: 1;
    }
  }

  @keyframes movingCrown {
    0% {
      opacity: 1;
      top: 120vh;
    }
    50% {
      opacity: 1;
      top: 117vh;
    }
    100% {
      opacity: 1;
      top: 120vh;
    }
  }

  @keyframes movingWine {
    0% {
      opacity: 1;
      top: 217vh;
    }
    50% {
      opacity: 1;
      top: 214vh;
    }
    100% {
      opacity: 1;
      top: 217vh;
    }
  }

  @keyframes movingGlasses {
    0% {
      opacity: 1;
      top: 317vh;
    }
    50% {
      opacity: 1;
      top: 314vh;
    }
    100% {
      opacity: 1;
      top: 317vh;
    }
  }

  @keyframes movingElephantDoor {
    0% {
      opacity: 1;
      /* top: 415vh; */
    }
    50% {
      opacity: 1;
      /* top: 410vh; */
    }
    100% {
      opacity: 1;
      /* top: 415vh; */
    }
  }
}

@media screen and (max-width: 768px) /* 메인 오브젝트들 사이즈 - flex-direction: column*/ {
  /* header screen size interaction */

  .main-header__left {
    margin-left: 30px;
  }

  .main-header__leftEnd {
    padding: 30px;
  }

  .main-header__left div:first-child {
    transform: rotate(-90deg);
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  #page-span__1,
  #page-span__2 {
    font-size: 10px;
  }

  .page_number:first-child {
    font-size: 18px;
    margin-top: 20px;
  }

  .page_number:nth-child(2) {
    font-size: 18px;
    margin-top: 20px;
    margin: 10px 0 0 27px;
  }

  .page_numbers::before {
    width: 1px;
    height: 70px;
    margin-top: -55px;
    margin-left: -18px;
    background-color: black;
    transform: rotate(45deg);
    opacity: 0.2;
  }

  .header__nav-menu button::before {
    font-size: 11px;
    margin-right: 0px;
  }

  .main-header__right {
    margin-right: 30px;
    transition: 0.5s ease-in-out;
  }

  .main-header__right ul li {
    padding-top: 10px;
    margin: 40px 0;
    transition: 0.5s ease-in-out;
  }

  .main-header__right ul li a {
    width: 4px;
    height: 4px;
    transition: 0.5s ease-in-out;
  }

  /* main screen size interaction */

  .header__nav-logo {
    margin-left: 30px;
    transition: 0.5s ease-in-out;
  }
  .header__nav-logo img {
    height: 17px;
  }

  .header__nav-menu {
    margin-right: 30px;
    transition: 0.5s ease-in-out;
  }

  .main-main__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main__centerText {
    font-size: 11px;
  }

  .main-main__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(3),
  .main-main2__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(3),
  .main-main3__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(3),
  .main-main4__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text span:first-child {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    opacity: 0;
    animation: slideMainText 1.5s ease forwards;
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(2) {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px 0;
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(3),
  .main-main5__text span:nth-child(4) {
    font-size: 13px;
    transition: 0.5s ease-in-out;
  }

  .movingChess {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    margin-top: 400px;
    transition: 0.5s ease-in-out;
  }
  .main-main .movingChess img {
    width: 370px;
    transition: 0.5s ease-in-out;
  }

  .movingCrown {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    margin-top: 270px;
    transition: 0.5s ease-in-out;
  }

  .main-main2 .movingCrown img {
    width: 370px;
  }

  .wineHands {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin-top: 400px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main3 .wineHands img {
    width: 320px;
    height: auto;
  }

  .faceGlasses {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    margin-top: 400px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main4 .faceGlasses img {
    width: 370px;
    height: auto;
  }

  .elephantDoor {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 300px;
    padding-left: 50px;
    transition: 0.5s ease-in-out;
  }

  .main-main5 .elephantDoor img {
    width: 400px;
    height: auto;
  }

  @keyframes movingChess {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingCrown {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingWine {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingGlasses {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingElephantDoor {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 480px) {
  /* header screen size interaction */

  .main-header {
    padding: 20px 0;
  }
  .main-header__left {
    margin-left: 20px;
  }

  .main-header__leftEnd {
    padding: 20px;
    font-size: 8px;
  }

  .main-header__left div:first-child {
    transform: rotate(-90deg);
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  #page-span__1,
  #page-span__2 {
    font-size: 8px;
  }

  .page_number:first-child {
    font-size: 14px;
    margin-top: 20px;
  }

  .page_number:nth-child(2) {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 7px;
  }

  .page_numbers::before {
    width: 1px;
    height: 50px;
    margin-top: -45px;
    margin-left: -23px;
    background-color: black;
    transform: rotate(45deg);
    opacity: 0.2;
  }

  .header__nav-menu button::before {
    font-size: 10px;
    margin-right: 0px;
  }

  .header__nav-menu-hidden__menu li div {
    padding-right: 20px;
  }

  .header__nav-menu-hidden__menu strong,
  .header__nav-menu-hidden__menu span {
    font-size: 12px;
  }

  .header__nav-menu-hidden__menu a {
    font-size: 30px;
    transition: 0.5s ease;
  }

  .main-header__right {
    margin-right: 20px;
    transition: 0.5s ease-in-out;
  }

  .main-header__right ul li {
    padding-top: 10px;
    margin: 40px 0;
    transition: 0.5s ease-in-out;
  }

  .main-header__right ul li a {
    width: 4px;
    height: 4px;
    transition: 0.5s ease-in-out;
  }

  /* main screen size interaction */

  .header__nav-logo {
    padding: 0;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
  }
  .header__nav-logo img {
    height: 12px;
  }

  .header__nav-menu {
    margin-right: 20px;
    transition: 0.5s ease-in-out;
  }

  .main-main__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main__centerText {
    padding-top: 32px;
    font-size: 8px;
  }

  .main-main__text span:first-child {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(2) {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4) {
    font-size: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main2__text span:first-child {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(2) {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  .main-main2__text span:nth-child(3),
  .main-main2__text span:nth-child(4) {
    font-size: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main3__text span:first-child {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(2) {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  .main-main3__text span:nth-child(3),
  .main-main3__text span:nth-child(4) {
    font-size: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main4__text span:first-child {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(2) {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  .main-main4__text span:nth-child(3),
  .main-main4__text span:nth-child(4) {
    font-size: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text {
    width: 100%;
    margin: 0;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .main-main5__text span:first-child {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: var(--colorblack);
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(2) {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
  }
  .main-main5__text span:nth-child(3),
  .main-main5__text span:nth-child(4) {
    font-size: 10px;
    transition: 0.5s ease-in-out;
  }

  .movingChess {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 280px;
    transition: 0.5s ease-in-out;
  }
  .main-main .movingChess img {
    width: 280px;
    transition: 0.5s ease-in-out;
  }

  .movingCrown {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 280px;
    transition: 0.5s ease-in-out;
  }

  .main-main2 .movingCrown img {
    width: 280px;
  }

  .wineHands {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 280px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main3 .wineHands img {
    width: 280px;
    height: auto;
  }

  .faceGlasses {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 280px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
  }

  .main-main4 .faceGlasses img {
    width: 280px;
    height: auto;
  }

  .elephantDoor {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 280px;
    padding-left: 50px;
    transition: 0.5s ease-in-out;
  }

  .main-main5 .elephantDoor img {
    width: 280px;
    height: auto;
  }

  @keyframes movingChess {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingCrown {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingWine {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingGlasses {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }

  @keyframes movingElephantDoor {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0, 17px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }
}
