@media screen and (max-width: 1024px) {
  .movingChess1 > img,
  .movingChess2 > img,
  .movingChess3 > img,
  .movingChess4 > img,
  .movingChess5 > img {
    width: auto !important;
    height: 450px !important;
  }

  .main-main__text span:first-child {
    font-size: 45px;
  }

  .main-main__text span:nth-child(2) {
    font-size: 25px;
    margin: 0 0 25px 0;
  }

  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4) {
    font-size: 17px;
  }
  .marquee span,
  .marquee-2 span,
  .marquee-3 span,
  .marquee-4 span,
  .marquee-5 span {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .main-main__text,
  .main-main2__text,
  .main-main3__text,
  .main-main4__text,
  .main-main5__text {
    top: 30%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .movingChess1,
  .movingChess2,
  .movingChess3,
  .movingChess4,
  .movingChess5 {
    top: 70%;
    left: 50%;
  }

  .movingChess1 > img,
  .movingChess2 > img,
  .movingChess3 > img,
  .movingChess4 > img,
  .movingChess5 > img {
    width: auto !important;
    height: 450px !important;
  }

  .main-main__text span:first-child,
  .main-main2__text span:first-child,
  .main-main3__text span:first-child,
  .main-main4__text span:first-child,
  .main-main5__text span:first-child {
    font-size: 45px;
  }

  .main-main__text span:nth-child(2),
  .main-main2__text span:nth-child(2),
  .main-main3__text span:nth-child(2),
  .main-main4__text span:nth-child(2),
  .main-main5__text span:nth-child(2) {
    font-size: 25px;
    margin: 0 0 25px 0;
  }

  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4),
  .main-main2__text span:nth-child(3),
  .main-main2__text span:nth-child(4),
  .main-main3__text span:nth-child(3),
  .main-main3__text span:nth-child(4),
  .main-main4__text span:nth-child(3),
  .main-main4__text span:nth-child(4),
  .main-main5__text span:nth-child(3),
  .main-main5__text span:nth-child(4) {
    font-size: 17px;
  }

  .main-header__right ul li {
    margin: 20px 0;
  }

  .main-header__left {
    margin-left: 35px;
  }

  .main-header__left div {
    padding: 20px;
  }

  .page_numbers::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 55%;
    width: 1px;
    height: 85px;
    margin-top: -38px;
    margin-left: -10px;
    background-color: black;
    transform: rotate(45deg);
    opacity: 0.2;
  }

  .page_number:first-child {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 900;
  }

  .page_number:nth-child(2) {
    font-size: 20px;
    margin: 15px 0 0 38px;
    font-weight: 500;
    opacity: 0.5;
  }
  .marquee span,
  .marquee-2 span,
  .marquee-3 span,
  .marquee-4 span,
  .marquee-5 span {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .header__nav-logo {
    margin-left: 10px;
  }

  .header__nav-logo img {
    height: 16px;
  }

  .header__nav-menu {
    margin-right: 10px;
    font-size: 16px;
  }

  .main-main__centerText {
    font-size: 12px;
  }

  .main-header__left div:first-child {
    padding: 0;
    transform: rotate(-90deg);
  }

  .movingChess1 > img,
  .movingChess2 > img,
  .movingChess3 > img,
  .movingChess4 > img,
  .movingChess5 > img {
    width: auto !important;
    height: 350px !important;
  }

  .main-main__text span:first-child,
  .main-main2__text span:first-child,
  .main-main3__text span:first-child,
  .main-main4__text span:first-child,
  .main-main5__text span:first-child {
    font-size: 30px;
  }

  .main-main__text span:nth-child(2),
  .main-main2__text span:nth-child(2),
  .main-main3__text span:nth-child(2),
  .main-main4__text span:nth-child(2),
  .main-main5__text span:nth-child(2) {
    font-size: 18px;
    margin: 0 0 25px 0;
  }

  .main-main__text span:nth-child(3),
  .main-main__text span:nth-child(4),
  .main-main2__text span:nth-child(3),
  .main-main2__text span:nth-child(4),
  .main-main3__text span:nth-child(3),
  .main-main3__text span:nth-child(4),
  .main-main4__text span:nth-child(3),
  .main-main4__text span:nth-child(4),
  .main-main5__text span:nth-child(3),
  .main-main5__text span:nth-child(4) {
    font-size: 14px;
  }

  .main-header__right ul li {
    margin: 10px 0;
  }

  .main-header__right ul li a {
    width: 4px;
    height: 4px;
  }

  .main-header__left {
    left: 0;
  }

  .main-header__left div {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page_numbers::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 55%;
    width: 1px;
    height: 85px;
    margin-top: -38px;
    margin-left: -10px;
    background-color: black;
    transform: rotate(90deg);
    opacity: 0.2;
  }

  .page_number:first-child {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 900;
  }

  .page_number:nth-child(2) {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    opacity: 0.5;
  }

  .main-header__right {
    right: 10px;
  }

  .marquee span,
  .marquee-2 span,
  .marquee-3 span,
  .marquee-4 span,
  .marquee-5 span {
    font-size: 11px;
  }
}
