.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  z-index: 999;
}

.header__nav-logo {
  padding: 0px;
  margin-left: 70px;
  z-index: 9999;
  cursor: pointer;
}

.header__nav-logo img {
  height: 20px;
}

/*  navigation menu setting   */
/*  navigation menu setting   */
.header__nav-menu {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-right: 70px;
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 900;
  z-index: 9999;
  overflow: hidden;
}

.header__nav-menu.active {
  color: white;
  z-index: 9999;
}
.header__nav-menu.active > button {
  color: white;
  z-index: 9999;
  cursor: pointer;
}

.header__nav-menu button::before {
  content: "MENU";
  width: 20px;
  height: 10px;
  font-size: 13px;
  font-weight: 900;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.header__nav-menu.active > button::before {
  content: "CLOSE";
  width: 20px;
  height: 10px;
  font-weight: 900;
  font-size: 13px;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  transition: 0.1s ease-in-out;
}

.header__nav-menu.active > button:hover {
  color: white;
}

.header__nav-menu i {
  transition: 0.2s ease-in-out;
}
.header__nav-menu.active i {
  transform: rotate(180deg);
}

.header__nav-menu button {
  outline: none;
  border: none;
  background: none;
  color: black;
}

.header__nav-menu button:hover {
  cursor: pointer;
}

/*  hidden menu setting   */
/*  hidden menu setting   */
.header__nav-menu-hidden {
  position: absolute;
  top: 54px;
  right: 110px;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: var(--colorpurple);
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.header__nav-menu-hidden__menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 1;
  transition: 1s ease-in-out;
}

.header__nav-menu-hidden__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  width: 50%;
  height: 50%;
}

.header__nav-menu-hidden__menu li {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.header__nav-menu-hidden__menu li div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 180px;
}

.header__nav-menu-hidden__menu strong,
.header__nav-menu-hidden__menu span {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  color: white;
  width: 65px;
}

.header__nav-menu-hidden__menu strong {
  opacity: 0.4;
}

.header__nav-menu-hidden__menu span {
  opacity: 0.9;
}

.header__nav-menu-hidden__menu li a {
  width: 24%;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  color: transparent;
  text-align: left;
  -webkit-text-stroke: 1px #fff;
  transition: 0.5s ease;
}

.header__nav-menu-hidden__menu li a:hover {
  color: white;
}

.header__nav-menu-hidden.active {
  display: block;
  border-radius: 50%;
  background: var(--colorpurple);
  transform: scale(5000);
}

.header__nav-menu-hidden.active + .header__nav-menu-hidden__menu {
  display: flex;
  font-family: sans-serif;
  z-index: 1;
}

.main-header__left {
  position: fixed;
  left: 0;
  top: 40%;
  height: auto;
  margin-left: 70px;
  text-align: left;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 900;
}

.main-header__left div {
  position: relative;
  top: 50%;
  width: 82px;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.page_number:first-child {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 900;
}

.page_number:nth-child(2) {
  font-size: 25px;
  margin-top: 20px;
  margin: 5px 0 0 35px;
  font-weight: 500;
  opacity: 0.5;
}

.page_numbers::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  width: 1px;
  height: 85px;
  margin-top: -65px;
  margin-left: -10px;
  background-color: black;
  transform: rotate(45deg);
  opacity: 0.2;
}

.main-header__leftEnd {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 70px;
  display: inline;
  justify-content: space-between;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 900;
}

.main-header__leftEnd span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/*
.main-header__leftEnd span:nth-child(2) {
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
*/

.main-header__right {
  position: fixed;
  top: 30%;
  right: 0;
  margin-right: 70px;
}

.main-header__right ul {
  list-style: none;
}

.main-header__right ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  margin: 50px 0;
}

.main-header__right ul li a {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 2px solid rgba(1, 1, 1, 0.4);
  border-radius: 50%;
}

.main-header__right ul li:hover a {
  cursor: pointer;
  border: 2px solid var(--colorpurple);
  transition: 0.3s ease-in-out;
}

.main-header__right ul li:hover {
  cursor: pointer;
}

.point a:hover {
  cursor: pointer;
  border: 2px solid var(--colorpurple);
  transition: 0.3s ease-in-out;
}

.point.active a {
  border: 2px solid var(--colorpurple);
  background: var(--colorpurple);
  transition: 0.3s ease-in-out;
}

#page-number__now {
  transition-property: transform, background;
  transition-duration: 2s;
}

@keyframes menuUnroll {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(4000);
    opacity: 1;
  }
}

@keyframes menuroll {
  from {
    transform: scale(4000);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    transform: scale(0.97);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
