:root {
  --colorblack: #282828;
  --colorwhite: rgb(240, 240, 240);
  --colorgray: #616060;
  --colorpurple: #55007c;
}

#cursor {
  width: 1rem;
  height: 1rem;
  background: var(--colorpurple);
  border-radius: 50%;
  position: absolute;
  z-index: 99999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
}

#cursor.link-grow {
  transform: scale(2);
  border: 1.2px solid var(--colorpurple);
  background-color: transparent;
  transition: all 0.3s ease;
  transition-property: background, transform;
}

#cursor.hovered-hidden_menu_box {
  transform: scale(2);
  border: 5px solid red;
  background-color: transparent;
  transition: all 0.3s ease;
  transition-property: background, transform;
}

#cursor.hovered-hidden_menu {
  transform: scale(2);
  border: 2px solid #c992fa;
  background-color: transparent;
  transition: all 0.3s ease;
  transition-property: background, transform;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--colorwhite);
  width: 100%;
  height: 500vh;
  margin: 0;
  padding: 0;
  background-image: url(files/background.png);
}

#wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  text-align: center;
}

/* 
main {
  border: 1px solid red;
} */

/* main 1 section */

.main-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.main-main__centerText {
  position: absolute;
  top: 0;
  left: auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.main-main__centerText span {
  color: var(--colorgray);
}

.main-main__centerText span mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.main-main__text {
  position: absolute;
  left: 0;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-main__text span:first-child {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--colorblack);
  opacity: 0;
  animation: slideMainText 1.5s ease forwards;
}
.main-main__text span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 40px 0;
  color: #646464;
  opacity: 0;
  animation: slideMainText 1.5s ease 0.2s forwards;
}
.main-main__text span:nth-child(3),
.main-main__text span:nth-child(4) {
  position: relative;
  font-size: 20px;
  margin: 2px 0;
  color: #747474;
  opacity: 0;
  animation: slideMainText 1.5s ease 0.4s forwards;
}

.main-main__text span:nth-child(4) mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.movingChess {
  position: absolute;
  top: 10vh;
  right: 80px;
  width: 670px;
  height: auto;
  opacity: 0;
  animation: movingChess 7s ease-in-out 1.5s infinite, apear 0.8s 1.3s ease;
}

.main-main .movingChess img {
  width: 650px;
}

.marqueeBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
}

.marqueeBox::before {
  content: "";
  z-index: 999;
  width: 5%;
  height: 50px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.marqueeBox {
  animation: slidemrqueevapear 1.5s ease-in-out;
}

.marquee {
  position: absolute;
  display: inline-block;
  top: 98vh;
  left: 0;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  background: none;
  animation: slidemrqueev 20s linear infinite;
}

.marquee2 {
  animation-delay: -10s;
}

.marquee span {
  display: inline-block;
  box-sizing: border-box;
  color: var(--colorgray);
  margin-right: 10px;
}

.marquee span mark {
  background: none;
  color: #300046;
  font-weight: 900;
}

/* main 2 section */
.main-main2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.main-main2__text {
  position: absolute;
  right: 0;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.main-main2__text span:first-child {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--colorblack);
  opacity: 0;
}
.main-main2__text span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 40px 0;
  color: #646464;
  opacity: 0;
}
.main-main2__text span:nth-child(3),
.main-main2__text span:nth-child(4) {
  position: relative;
  font-size: 20px;
  margin: 2px 0;
  color: #747474;
  opacity: 0;
}

.main-main2__text span:nth-child(4) mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.movingCrown {
  position: absolute;
  top: 107vh;
  left: 200px;
  width: auto;
  height: auto;
  margin-top: 50px;
  opacity: 0;
}

.main-main2 .movingCrown img {
  width: 700px;
}

.marqueeBox-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  animation: slidemrqueevapear 1.5s ease-in-out;
}

.marquee-2 {
  position: absolute;
  display: inline-block;
  top: 198vh;
  left: 0;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  background: none;
  animation: slidemrqueev 20s linear infinite;
}

.marquee2-2 {
  animation-delay: -10s;
}

.marquee-2 span {
  box-sizing: border-box;
  color: var(--colorgray);
  margin-right: 10px;
}

.marquee-2 span mark {
  background: none;
  color: #300046;
  font-weight: 900;
}

/* main 3 section */

.main-main3 {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.main-main3__text {
  position: absolute;
  left: 0;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-main3__text span:first-child {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--colorblack);
  opacity: 0;
}
.main-main3__text span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 40px 0;
  color: #646464;
  opacity: 0;
}
.main-main3__text span:nth-child(3),
.main-main3__text span:nth-child(4) {
  position: relative;
  font-size: 20px;
  margin: 2px 0;
  color: #747474;
  opacity: 0;
}

.main-main3__text span:nth-child(4) mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.wineHands {
  position: absolute;
  top: 207vh;
  right: 200px;
  width: auto;
  height: auto;
  margin-top: 50px;
  opacity: 0;
  animation: movingWine 7s ease-in-out infinite;
}

.main-main3 .wineHands img {
  height: 830px;
}

.marqueeBox-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  animation: slidemrqueevapear 1.5s ease-in-out;
}

.marquee-3 {
  position: absolute;
  display: inline-block;
  top: 298vh;
  left: 0;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  background: none;
  animation: slidemrqueev 20s linear infinite;
}

.marquee3-2 {
  animation-delay: -10s;
}

.marquee-3 span {
  box-sizing: border-box;
  color: var(--colorgray);
  margin-right: 10px;
}

.marquee-3 span mark {
  background: none;
  color: #300046;
  font-weight: 900;
}

/* main 4 section */
.main-main4 {
  min-height: 100vh;
  width: 100%;
}
.main-main4 {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.main-main4__text {
  position: absolute;
  right: 0;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-main4__text span:first-child {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--colorblack);
  opacity: 0;
}
.main-main4__text span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 40px 0;
  color: #646464;
  opacity: 0;
}
.main-main4__text span:nth-child(3),
.main-main4__text span:nth-child(4) {
  position: relative;
  font-size: 20px;
  margin: 2px 0;
  color: #747474;
  opacity: 0;
}

.main-main4__text span:nth-child(4) mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.faceGlasses {
  position: absolute;
  top: 315vh;
  left: 170px;
  width: auto;
  height: auto;
  margin-top: 50px;
  opacity: 0;
  animation: movingFaceGlasses 7s ease-in-out infinite;
}

.main-main4 .faceGlasses img {
  height: 700px;
}

.marqueeBox-4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  animation: slidemrqueevapear 1.5s ease-in-out;
}

.marquee-4 {
  position: absolute;
  display: inline-block;
  top: 398vh;
  left: 0;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  background: none;
  animation: slidemrqueev 20s linear infinite;
}

.marquee4-2 {
  animation-delay: -10s;
}

.marquee-4 span {
  box-sizing: border-box;
  color: var(--colorgray);
  margin-right: 10px;
}

.marquee-4 span mark {
  background: none;
  color: #300046;
  font-weight: 900;
}

/* main 5 section */

.main-main5 {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.main-main5__text {
  position: absolute;
  left: 0;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-main5__text span:first-child {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--colorblack);
  opacity: 0;
}
.main-main5__text span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 40px 0;
  color: #646464;
  opacity: 0;
}
.main-main5__text span:nth-child(3),
.main-main5__text span:nth-child(4) {
  position: relative;
  font-size: 20px;
  margin: 2px 0;
  color: #747474;
  opacity: 0;
}

.main-main5__text span:nth-child(4) mark {
  font-weight: 400;
  color: black;
  background: none;
  font-weight: 900;
}

.elephantDoor {
  position: absolute;
  top: 415vh;
  right: 60px;
  width: auto;
  height: auto;
  margin-top: 50px;
  opacity: 0;
  animation: movingFaceGlasses 7s ease-in-out infinite;
}

.main-main5 .elephantDoor img {
  height: 570px;
}

.marqueeBox-5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  animation: slidemrqueevapear 1.5s ease-in-out;
}

.marquee-5 {
  position: absolute;
  display: inline-block;
  top: 398vh;
  left: 0;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  background: none;
  animation: slidemrqueev 20s linear infinite;
}

.marquee5-2 {
  animation-delay: -10s;
}

.marquee-5 span {
  box-sizing: border-box;
  color: var(--colorgray);
  margin-right: 10px;
}

.marquee-5 span mark {
  background: none;
  color: #300046;
  font-weight: 900;
}

@keyframes movingChess {
  0% {
    top: 10vh;
    opacity: 1;
  }
  50% {
    top: 6vh;
    opacity: 1;
  }
  100% {
    top: 10vh;
    opacity: 1;
  }
}

@keyframes movingCrown {
  0% {
    opacity: 1;
    top: 107vh;
  }
  50% {
    opacity: 1;
    top: 102vh;
  }
  100% {
    opacity: 1;
    top: 107vh;
  }
}

@keyframes movingWine {
  0% {
    opacity: 1;
    top: 207vh;
  }
  50% {
    opacity: 1;
    top: 202vh;
  }
  100% {
    opacity: 1;
    top: 207vh;
  }
}

@keyframes movingGlasses {
  0% {
    opacity: 1;
    top: 315vh;
  }
  50% {
    opacity: 1;
    top: 310vh;
  }
  100% {
    opacity: 1;
    top: 315vh;
  }
}

@keyframes movingElephantDoor {
  0% {
    opacity: 1;
    top: 415vh;
  }
  50% {
    opacity: 1;
    top: 410vh;
  }
  100% {
    opacity: 1;
    top: 415vh;
  }
}

@keyframes slidemrqueev {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slidemrqueevapear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apear {
  from {
    transform: scale(70%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes disApear {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(70%);
    opacity: 0;
  }
}

@keyframes slideMainText {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideMainTextDisapear {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}
